.box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6.4px; /* giảm từ 8px */
    padding: 12px; /* giảm từ 15px */
    margin-top: 17.6px; /* giảm từ 22px */
    max-width: 480px; /* giảm từ 600px */
    margin-left: 136px; /* giảm từ 170px */
}

.accountbox {
    position: absolute;
    top: 240px;
    right: 152px;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 16px;
    max-width: 480px;
    background-color: white;
}

.buyingbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 76px;
}

.buyingbox-text {
    margin-left: 80px;
    border-bottom: 2px solid #ccc
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input {
    position: absolute;
    margin-top: 22px;
    font-size: 35px;
    border: none;
    outline: none;
}

.purchasebutton {
    position: absolute;
    top: 635px; /* giảm từ 810px */
    right: 85px; /* giảm từ 95px */
    border: 1px solid #ddd;
    border-radius: 6px; /* giảm từ 8px */
    padding: 12px; /* giảm từ 15px */
    margin-top: 16px; /* giảm từ 20px */
    max-width: 480px; /* giảm từ 600px */
    background-color: #6FCF97;
    outline: none;
}
