.container {
    display: flex;
    align-items: flex-start; /* ??m b?o c?n trên cùng hàng */
    gap: 50px; /* Kho?ng cách gi?a hai h?p */
}

.searchbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
    margin-top: 32px; /* Có th? gi? nguyên ho?c b? */
    flex: 3; /* Tùy ch?n, ?? chi?m nhi?u không gian h?n */
}

.filterbutton {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
    margin-top: 32px; /* ??m b?o cùng c?n ch?nh theo hàng */
    flex: 1; /* Tùy ch?n, ?? chi?m ít không gian h?n */
}

.printercontainer {
    margin-left: 2%;
}

.printerbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding-right: 40px;
    padding-left: 20px;
    margin-top: 32px;
    flex: 2;
    margin-right: 50px;
}

.printerimg {
    height: 60%;
    width: 250px;
    padding-left: 10%;
    padding-right: 3%;
    margin-left: 5%;
}

.modeltext {
    font-size: 13px;
    text-align: center;
}

.rightinfo {
    margin-top: 10px;
    flex: 1;
    font-size: 10px;
    font-weight: bold;
}

.leftinfo {
    margin-top: 10px;
    flex: 1;
    font-size: 10px;
    font-weight: bold;
}
