.container {
    display: flex;
    align-items: flex-start; 
    gap: 50px; 
    /*margin-left:30px;*/
}

.searchbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
    margin-top: 32px;
    flex: 3; 
}

.filterbutton {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
    margin-top: 32px; 
    flex: 1; 
}

.printercontainer {
    margin-left: 2%;
    
}

.printerbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding-right: 40px;
    padding-left: 20px;
    margin-top: 32px;
    flex: 2;
    margin-right: 50px;
}

.printerimg {
    height: 60%;
    width: 250px;
    padding-left: 10%;
    padding-right: 3%;
    margin-left: 5%;
}

.printer-link {
    text-decoration: none;
    color: inherit;
}

.printer-link:hover{
    text-decoration:none;
}

.modeltext {
    font-size: 16px;
  
}

.rightinfo {
    margin-top: 10px;
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    text-align:left;

}

.leftinfo {
    margin-top: 10px;
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    
}
