.container {
    display: flex;
    align-items: flex-start; 
    gap: 50px; 
}

.settingbox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 32px; 
    flex: 3;  
}

.infobox {
    background-color: #f5f0f0;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 32px;
    flex: 1;
}
