.container {
    display: flex;
    align-items: flex-start; /* Đảm bảo căn trên cùng hàng */
    gap: 50px; /* Khoảng cách giữa hai hộp */
}

.rechargebox {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 32px; /* Có thể giữ nguyên hoặc bỏ */
    flex: 2; /* Tùy chọn, để chiếm nhiều không gian hơn */
}

.rechargeinfo {
    flex: 1; /* Tùy chọn, để chiếm ít không gian hơn */
}
.rechargeinfobox {
    background-color: #f5f0f0;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 32px; /* Đảm bảo cùng căn chỉnh theo hàng */
}

.rechargelimitinfobox {
    background-color: #f5f0f0;
    border: 1px solid #ddd;
    border-radius: 6.4px;
    padding: 12px;
    margin-top: 32px; /* Đảm bảo cùng căn chỉnh theo hàng */
}

input[type="number"] {
    width: 617px;
    margin-left: 30px;
    border: 2px solid #ddd;
    border-radius: 6px;
    height: 40px;
}

.btnprice {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 13px;
    padding:5px;
}

.btnmethod {
    background-color: #f5f0f0;
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-right: 79px;
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
    padding-right: 0px;
}

.logoimg {
    height:45px;
    width:50px;
    padding-right:5px;
}

.btnrecharge {
    background-color: #22c55e;
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 143px;
    border-radius: 6px;
    border:none;
}

.policy {
    margin-left:22px;
    margin-top:10px;
}